body{
    margin: 0;
    padding: 0;
    background-color:whitesmoke;

}
.main{
    display: flex;
    height:740px;
    width: 100vw;
    /* border: 2px solid green; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.nav{
   
    height: 40px;
    padding: 10px 30px;
    background-color: #141474;
    color: blueviolet;
    display: flex;
    align-items: center;
}
.nav span{
    color:green;
}
.nav h2{
    margin: 5px;
    font-size: 35px;
}
.left{
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border: 1px solid grey; */
}
.left h2{
    margin: 27px;
}
.left ul{
    margin-top: 36px;
}
.left li{
    margin: 2px;
    height:35px;
    font-size: 20px;
    display: flex;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    padding: 10px 10px;
}
.left li:hover{
    background-color: rgb(79, 79, 182);
}
.right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
  /* border: 2px solid red; */
  width: 77%;
  height: 100%;
 
}
.right-container{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    margin-top: 20px;
    
}
.left-container{
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 22%;
    margin: 20px 10px 0px 15px;

}
.container{
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 150px;
    width: 23%;
    margin: 5px 4px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.container:hover{
    background-color: rgb(215, 215, 215);
}

.time{
    background-color: green;
    color: white;
}
.cont-inside{
    height: 39px;
    display: flex;
    align-items: center;
    /* width: 100%; */
    /* justify-content: space-around; */
    margin-top: 19px;
    background-color:#e3d8d8;
    width:100%;
}
.inner1{
        /* margin: auto; */
        
        /* background-color: blue; */
        margin: height;
        height: 38px;
        margin: 0px;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        /* color: whit; */
    }
    .inner2{
        display: flex;
        align-items: center;
        justify-content: center;
       
        width: 50%;
   
    background-color: #0e0e60;
    color: white;
    margin: height;
    height: 38px;
    margin: 0px;
}
.container h1{
    margin: 10px auto;
}
.container h2{
    margin: 10px auto;
}
.device h3{
    margin: 20px;
    width: 177px;
    color: grey;
}

   

#select {
    margin: 10px 40px;
    width: 164px;
    border: none;
    /* color: black; */
    height: 34px;
    background-color: whitesmoke;
    font-size: 18px;
}
.temp{
    margin-top: 45px;
}
.temp h3{
    color: grey;
    margin: auto;
    width: 70px;
}
.temp h2{
    margin: 4px auto;
    width: 70px;
}
.select{
    margin-top: 80px;
}
.select h3{
font-size: 28px;
}
.select li{
    margin: 10px;
    font-size: 25px;
    list-style: none;
}
.setting{
    margin-top: 170px;
    display: flex;
}

